.Header {
  position: fixed;
  width: 100%;
  padding: 50px 0;
  z-index: 100;
  transition: cubic-bezier(0.2, 0.8, 0.2, 1);
}
.HeaderScrolled {
  background: rgba(0, 0, 0, 0.8);
  padding: 15px 0;
}
.HeaderGroup {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: center;
  justify-items: center;
}
.Header a {
  color: white;
  font-weight: 700;
}

.Header button {
  padding: 8px 20px;
  font-size: 20px;
  border: none;
  background: #56ccf2;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: 1s;
}
.Header button:hover {
  background: white;
  box-shadow: 0 10px 20px rbg(0, 0, 0, 0.25);
  transform: translateY(-3px);
  animation-timing-function: cubic-bezier(0, 2, 0.8, 0, 2, 1);
}

@media (max-width: 640px) {
  .Header {
    padding: 15px 0;
  }
  .HeaderGroup {
    grid-template-columns: repeat(4, auto);
  }

  .Header a:nth-last-child(4) {
    display: none;
  }
}
